.vscode/settings.json
Metanit/.vs/Metanit/v17/.suo
Metanit/.vs/ProjectEvaluation/metanit.metadata.v7.bin
Metanit/.vs/ProjectEvaluation/metanit.projects.v7.bin
Metanit/Chapter_2/Theme_10/Example_1/obj/Debug/net7.0/Example_1.assets.cache
Metanit/MyORM/obj/Debug/net7.0/MyORM.assets.cache
