@using Temp.Extensions
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Calculate" method="post">
        <input name="first"/>
        <input name="operation"/>
        <input name="second"/>
        <button type="submit">Calculate</button>
    </form>
</div>
